/* Fix input layout */
.task-input input[type="text"] {
    width: 45%;
}

.task-input input[type="date"] {
    width: 35%;
}

/* Search Box */
#searchInput {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Improve task item look */
li {
    align-items: center;
}

/* Priority Badge Fix */
.priority {
    padding: 3px 8px;
    border-radius: 6px;
    font-size: 12px;
    color: white;
    margin-left: 8px;
    display: inline-block;
    font-weight: bold;
}

/* Hover Effect */
.task-input button:hover,
.filters button:hover,
#darkBtn:hover {
    opacity: 0.8;
    transition: 0.2s;
}
