body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.task-input {
    margin: 20px 0;
}

.task-input input {
    padding: 8px;
    width: 70%;
}

.task-input button {
    padding: 8px 12px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f1f1f1;
    margin: 8px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.progress-bar {
    width: 100%;
    background: #ddd;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

#progressFill {
    height: 100%;
    width: 0%;
    background: #4CAF50;

}
.filters {
    margin: 15px 0;
}

.filters button {
    padding: 6px 10px;
    margin: 5px;
    cursor: pointer;
}
#darkBtn {
    margin: 10px 0;
    padding: 6px 10px;
    cursor: pointer;
}

.dark {
    background-color: #121212;
    color: white;
}

.dark .container {
    background-color: #1e1e1e;
}

.dark li {
    background-color: #2a2a2a;
}

.dark .progress-bar {
    background: #444;
}

